cloud_id                 = "<YOUR_CLOUD_ID>"
folder_id                = "<YOUR_CLOUD_ID>"
default_zone             = "ru-central1-d"

service_account_key_file = "<PATH_TO_YOUR_SA_KEY_JSON>"

vms_ssh_root_key         = "ssh-rsa <YOUR_SSH_PUBLIC_KEY_HERE>

vms_resources = {
  web = {
    cores         = 2
    memory        = 4
    core_fraction = 20
    hdd_size      = 10
    hdd_type      = "network-hdd"
    platform_id   = "standard-v3"
    preemptible   = true
    nat           = true
  },
  db = {
    cores         = 2
    memory        = 2
    core_fraction = 20
    hdd_size      = 10
    hdd_type      = "network-hdd"
    platform_id   = "standard-v3"
    preemptible   = true
    nat           = true
  }
}

metadata = {
  serial-port-enable = 1
  ssh-keys           = "ubuntu:ssh-rsa <YOUR_SSH_PUBLIC_KEY_HERE>
}
